name: cd-main

on:
  push:
    branches:
      - main

jobs:
  cd-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Main 서버 로그인 및 배포
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.MAIN_HOST }}
          username: ${{ secrets.MAIN_USER }}
          key: ${{ secrets.MAIN_SSH_KEY }}
          script: |
            cd /home/ubuntu/deploy
            chmod +x deploy.sh
            ./deploy.sh