name: Deploy to AWS

on:
  push:
    branches: [ "dev" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd ~/backend-resource
            git fetch origin dev
            git reset --hard origin/dev
            echo "${{ secrets.ENV_FILE }}" > .env
            chmod +x deploy.sh
            ./deploy.sh